@import '_colors.scss';
@import '_fonts.scss';
@import '_mixins.scss';

.music-page,
.contact-page,
.about-page,
.projects-page {
  @include display--flex-column;
  height: auto;
  overflow: auto;

  &__blurb {
    @include display--flex-row;
    padding: 1rem;
  }
}

.about-page {
  > * {
    width: 100%;
    padding: 1rem;
  }

  &__skills {
    &__container {
      @include display--flex-row-wrap;
      padding: 0;
    }

    &--item {
      @include display--flex-column;
      min-width: 8rem;
      margin: 1rem;
      font-size: 16px;
    }
  }

  &__proficiencies,
  &__languages {
    &__container {
      @include display--flex-row-wrap;
      padding-bottom: 2rem;
      background-color: $color--panel__header-background;
      @include panel__border;
    }

    &--item {
      @include display--flex-column;
      margin: 2rem;
      min-width: 4rem;
      max-width: 4rem;
      min-height: 4rem;
      max-height: 4rem;

      img {
        margin-bottom: 0.5rem;
        min-width: 4rem;
        max-width: 4rem;
        min-height: 4rem;
        max-height: 4rem;
        object-fit: contain;
      }
    }
  }

  &__attributes {
    &__container {
      @include display--flex-row-wrap;
      padding: 1rem;
      background-color: $color--panel__header-background;
      @include panel__border;
    }

    &--item {
      @include display--flex-column;
      min-width: 8rem;
      margin: 1rem;
    }
  }

  &__history {
    &__container {
      @include display--flex-column;

      > *:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &--item {
      padding: 1rem;
      background-color: $color--panel__header-background;
      @include panel__border;

      
    }
  }
}

.contact-page {
  justify-content: center;
  align-items: center;
  height: 100%;

  &__badges {
    @include display--center;

    > * {
      margin: 0.5rem;
    }
  }
}

.music-page {
  justify-content: center;
  height: 100%;
}

.projects-page {
  &__project {
    &--container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 2.5rem 2.5rem 2.5rem;
      padding: 1.5rem;
      background-color: $color--panel__header-background;
      @include panel__border;
    }

    &--content {
      text-align: left;
    }

    &--images {
      $img-width: 200px;
      $img-height: 110px;

      img { 
        min-width: $img-width;
        max-width: $img-width;
        min-height: $img-height;
        max-height: $img-height;
        object-fit: cover;
        margin: 1rem;
        pointer-events: all;
      }
    }

    &--links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
    }
  }
}