@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P");
@font-face {
  font-family: "w95fa";
  src: url("~/public/fonts/W95FA/w95fa.woff2");
}
@font-face {
  font-family: "adelia";
  src: url("~/public/fonts/adelia/adelia.woff2");
}
@font-face {
  font-family: "tangerine";
  src: url("~/public/fonts/tangerine/tangerine.woff2");
}
@font-face {
  font-family: "tangerine-bold";
  src: url("~/public/fonts/tangerine/tangerine-bold.woff2");
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 200;
  line-height: 1em;
}

.music-page,
.contact-page,
.about-page,
.projects-page {
  display: flex;
  flex-direction: column;
  height: auto;
  overflow-y: auto;
  overflow-x: hidden;
}
.music-page__blurb,
.contact-page__blurb,
.about-page__blurb,
.projects-page__blurb {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.about-page > * {
  width: 100%;
  padding: 1rem;
}
.about-page__skills__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 0;
}
.about-page__skills--item {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  margin: 1rem;
  font-size: 16px;
}
.about-page__proficiencies__container, .about-page__languages__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 2rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
}
.about-page__proficiencies--item, .about-page__languages--item {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
}
.about-page__proficiencies--item span, .about-page__languages--item span {
  text-align: center;
}
.about-page__proficiencies--item img, .about-page__languages--item img {
  margin-bottom: 0.5rem;
  min-width: 4rem;
  max-width: 4rem;
  min-height: 4rem;
  max-height: 4rem;
  -o-object-fit: contain;
     object-fit: contain;
}
.about-page__attributes__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
}
.about-page__attributes--item {
  display: flex;
  flex-direction: column;
  min-width: 8rem;
  margin: 1rem;
  font-size: 16px;
}
.about-page__achievements__container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.about-page__achievements__container > *:not(:last-child) {
  margin-bottom: 1rem;
}
.about-page__achievements__container > :nth-child(odd) {
  margin-right: 1rem;
}
.about-page__achievements--item {
  width: calc(50% - 0.5rem);
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
}
.about-page__history__container, .about-page__education__container {
  display: flex;
  flex-direction: column;
}
.about-page__history__container > *:not(:last-child), .about-page__education__container > *:not(:last-child) {
  margin-bottom: 1rem;
}
.about-page__history--item, .about-page__education--item {
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
}

.contact-page {
  justify-content: center;
  align-items: center;
}
.contact-page__badges {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-page__badges > * {
  margin: 0.5rem;
}

.music-page {
  justify-content: center;
}

.projects-page__project--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 2.5rem 2.5rem 2.5rem;
  padding: 1.5rem;
  background-color: rgba(255, 255, 255, 0.25);
  border: 2px solid #FFFFFF;
  border-radius: 1rem;
}
.projects-page__project--content {
  text-align: left;
}
.projects-page__project--images {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.projects-page__project--images > * {
  margin: 1rem;
}
.projects-page__project--images img {
  min-width: 200px;
  max-width: 200px;
  min-height: 110px;
  max-height: 110px;
  -o-object-fit: cover;
     object-fit: cover;
  pointer-events: all;
}
.projects-page__project--links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.unsupported-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 1rem;
  font-family: "Roboto Mono", serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  line-height: 1.6em;
  font-size: 12px;
  letter-spacing: 1px;
  color: #FFFFFF;
  background: repeating-linear-gradient(-45deg, rgba(255, 255, 255, 0.035), rgba(255, 255, 255, 0.035) 2px, rgba(255, 255, 255, 0.01) 2px, rgba(255, 255, 255, 0.01) 10px), linear-gradient(135deg, rgba(31, 37, 35, 0.8), rgba(255, 255, 255, 0.5));
  background-color: #575757;
}
.unsupported-page > * {
  text-align: center;
  margin: 1rem;
}
.unsupported-page img {
  max-width: 200px;
}/*# sourceMappingURL=pages.css.map */